body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #f0f4f7, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #74b9ff;
    outline: none;
}

button {
    background-color: #74b9ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
}

button:hover {
    background-color: #0984e3;
}

a {
    color: #0984e3;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #74b9ff;
}

h2 {
    margin-bottom: 1.5em;
}

#logout-button {
    background-color: #d63031;
    margin-top: 20px;
}

#logout-button:hover {
    background-color: #e17055;
}

.toggle-button {
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #ec971f;
}
